---
import MainLayout from '@layouts/MainLayout.astro';
//import { Icon } from 'astro-icon/components';
---

<MainLayout title="No one is here :(" disableHeader>
  <div class="page-container">
    <h1>No one is here :(</h1>
    <!--<Icon name="mdi:grave-stone" size={88} />-->
    <h2>Try another path, this one seems to be a dead end.</h2>
    <p>
      Perhaps you meant to go here <a href="/">home</a> instead?
    </p>
  </div>
</MainLayout>

<style>
  .page-container {
    font-size: 1.5em;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  h2 {
    text-align: center;
  }
</style>
