---
import { getCollection } from 'astro:content';
import MainLayout from '@layouts/MainLayout.astro';
const posts = (await getCollection('blog')).sort((a, b) => {
  if (!a.data.date && !b.data.date) return 0;
  if (!a.data.date) return 1;
  if (!b.data.date) return -1;
  return b.data.date.getTime() - a.data.date.getTime();
});
---

<MainLayout>
  <div class="panel-content-wrapper">
    <ul>
      {
        posts.map((post) => (
          <li style="margin-bottom: 1rem;">
            <a href={`/blog/${post.id}`}>
              {post.filePath?.split('/').pop()?.replace('.md', '') ?? post.id}
            </a>
            <span> ({post.data.date ? post.data.date.toLocaleDateString('en-US', { timeZone: 'UTC', year: 'numeric', month: 'short', day: 'numeric' }) : 'Unknown'})</span>
          </li>
        ))
      }
    </ul>
  </div>
</MainLayout>
