---
import MainLayout from '@layouts/MainLayout.astro';
---

<MainLayout>
  <div class="panel-content-wrapper">
    <h1 class="catchy-oneliner">Im a developer</h1>
    <p>
      Hey, I'm Matt. I build things. I do it because I love to make computers do
      my bidding.
    </p>
    <p>
      I’ve got some apps on the Apple App Store, worked as a consultant, and
      spent time managing Linux and Solaris servers back in my Navy days. These
      days, I prefer to break things in my homelab, experimenting with
      Kubernetes and Docker. In my homelab I push straigt to prod without worry
      because the only preson suffering from my bad desisions is myself.
    </p>
    <p>
      If you would like to check out my resume, you can find it
      <a href="http://mrstoffel.com/resume.pdf" target="_blank">here</a>.
    </p>
  </div>
  <div class="spacerrr"></div>
  <section id="contact" class="panel-content-wrapper">
    <div class="contact-panel">
      <p>
        Reach out to me at:
        <a href="mailto:info@mrstoffel.com">info@mrstoffel.com</a>
      </p>
    </div>
  </section>
</MainLayout>

<style>
  .catchy-oneliner {
    margin-top: 0em;
    font-size: 3em;
  }

  .spacerrr {
    flex-grow: 1;
  }
</style>
