---
import { Icon } from 'astro-icon/components';
---

<div class="panel-content-wrapper">
  <nav class="navigation">
    <div class="links">
      <div class="home-button">
        <a href="/">MrStoffel</a>
      </div>
    </div>
    <a href="/blog">Blog</a>
    <div>
      <a href="https://github.com/MattRStoffel">
        <Icon class="github-icon" name="mdi:github" />
      </a>
    </div>
  </nav>
</div>

<style>
  .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 0 1rem 0;
  }

  .links {
    display: flex;
    gap: 5rem;
    flex-direction: row;
    align-items: center;
  }

  .home-button {
    display: flex;
    align-items: center;
    font-weight: bold;
    gap: 0.5rem;
    font-size: 1.5rem;
  }

  .github-icon {
    font-size: 2rem;
    color: #888888;
  }
</style>
